.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    /* border-top: 2px solid rgb(52, 217, 235); */
    box-shadow: 10px 10px 10px 10px rgb(40, 229, 235) ;
    border-top: 1px solid hsl(184, 93%, 59%);
    /* box-shadow: 3px 3px 3px rgb(40, 229, 235); */
    background-color: black;
    color: white;
}
